@model IList<Blog.Services.Models.Category>

@{
    Layout = null;
}
<!--Left Menu Start-->
<div class="w3-bar-block w3-ext-left-menu" id="myHeader">
    @foreach (var category in Model)
    {


        <a asp-area="Main" asp-controller="Default" asp-action="Category" asp-route-category="@category.Id" asp-route-paging="1" class="w3-bar-item w3-button w3-ext-animate-button"><b>@category.Name</b></a>
        @foreach (var subcategory in category.SubCategory.OrderBy(c => c.Name))
        {
            <a asp-area="Main" asp-controller="Default" asp-action="SubCategory" asp-route-subcategory="@subcategory.Id" asp-route-paging="1" class="w3-bar-item w3-button w3-ext-animate-button">@subcategory.Name</a>
        }


    }
</div>
<div class="w3-bar-block w3-ext-hidden" id="tempblock">
    @foreach (var category in Model)
    {

        <a asp-area="Main" asp-controller="Default" asp-action="Category" asp-route-category="@category.Id" asp-route-paging="1" class="w3-bar-item w3-button w3-ext-animate-button"><b>@category.Name</b></a>
        @foreach (var subcategory in category.SubCategory.OrderBy(c => c.Name))
        {
            <a asp-area="Main" asp-controller="Default" asp-action="SubCategory" asp-route-subcategory="@subcategory.Id" asp-route-paging="1" class="w3-bar-item w3-button w3-ext-animate-button">@subcategory.Name</a>
        }

    }
</div>
<!--End Left Menu-->
<script>
    window.onscroll = function () {
        myFunction();
    };

    var header = document.getElementById("myHeader");
    var tempblock = document.getElementById("tempblock");
    var sticky = header.offsetTop;

    function myFunction() {
        if (window.pageYOffset > sticky) {
            header.classList.add("sticky");

            tempblock.classList.remove("w3-ext-hidden");
            tempblock.classList.add("w3-ext-nothidden");

        } else {
            header.classList.remove("sticky");

            tempblock.classList.remove("w3-ext-nothidden");
            tempblock.classList.add("w3-ext-hidden");
        }
    }
</script>