@model IList<Category>
@{
    ViewData["Title"] = "Categories";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div class="w3-container w3-padding">
    <h4>Менеджер категорий</h4>
    <a asp-area="Admin" asp-controller="Default" asp-action="CreateCategory" class="w3-button w3-border w3-padding w3-ext-animate-button">Добавить категорию</a>
    <a asp-area="Admin" asp-controller="Default" asp-action="CreateSubCategory" class="w3-button w3-border w3-padding w3-ext-animate-button">Добавить подкатегорию</a>
    <table class="w3-table w3-bordered">
        <tr>
            <th>Категория</th>
            <th>Подкатегория</th>
            <th></th>
            <th></th>
        </tr>
        @foreach (var category in Model)
        {
            <tr>
                <td><b>@category.Name</b></td>
                <td></td>
                <td><a asp-area="Admin" asp-controller="Default" asp-action="EditCategory" asp-route-id="@category.Id" class="w3-button w3-ext-animate-button">Редактировать</a></td>
                <td><a asp-area="Admin" asp-controller="Default" asp-action="DeleteCategory" asp-route-id="@category.Id" class="w3-button w3-ext-animate-button">Удалить</a></td>
            </tr>

            @foreach (var subCategory in category.SubCategory)
            {
                <tr>
                    <td></td>
                    <td>@subCategory.Name</td>
                    <td><a asp-area="Admin" asp-controller="Default" asp-action="EditSubCategory" asp-route-id="@subCategory.Id" class="w3-button w3-ext-animate-button">Редактировать</a></td>
                    <td><a asp-area="Admin" asp-controller="Default" asp-action="DeleteSubCategory" asp-route-id="@subCategory.Id" class="w3-button w3-ext-animate-button">Удалить</a></td>
                </tr>

            }
        }
    </table>
</div>


