@model IList<User>
@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject IIdentityService IdentityService
@{
    ViewData["Title"] = "Users";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div class="w3-container w3-padding">
    <h4>Пользователи</h4>
    <div class="w3-responsive">
        <table class="w3-table-all w3-table w3-bordered">
            <tr>
                <th>id</th>
                <th>Имя пользователя</th>
                <th>E-mail</th>
                <th>Роль</th>
                <th>Блокировка</th>
                <th>Разблокировка</th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.UserName</td>
                    <td>@item.Email</td>
                    <td>@IdentityService.GetUserRoleById(item.Id)</td>
                    <td><a asp-area="Admin" asp-controller="Default" asp-action="Block" asp-route-id="@item.Id" class="w3-button w3-ext-animate-button">Заблокировать</a></td>
                    <td><a asp-area="Admin" asp-controller="Default" asp-action="UnBlock" asp-route-id="@item.Id" class="w3-button w3-ext-animate-button">Разблокировать</a></td>
                </tr>
            }


        </table>
    </div>
</div>



